<!--
<ion-menu [content]="content">

  <ion-header>
    <ion-toolbar>
      <ion-title>Pages</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>
-->

<ion-fab bottom right >
  <button ion-fab>Menu</button>
  <ion-fab-list side="left">
      <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
  </ion-fab-list>
</ion-fab>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
